<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Detalle Alumno</h1>

    <p id="idClase" style="display: none;"><%= idClase %></p>
    <p id="idAlumno" style="display: none;"><%= idAlumno %></p>

    <script src="detalleAlumno.js"></script>
</body>
</html>